.counter{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: -2rem;
    right: 0;
    font-size: 1.2rem;
}
.counter-btn{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.5rem;
}
.remove-icon{
    width: 2rem;
    height: 2rem;
}
.remove-btn{
    margin: 0 0.5rem;
}