.homepage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.homepage-container img{
    width: 40vw;
}
.homepage-container h1{
    font-size: 40px;
}
.home-info-assortiment{
    display: flex;
    text-align: left;
    padding: 2rem;
    background-color: #3e6559;
}
.home-info-werkplaats{
    display: flex;
    text-align: left;
    padding: 2rem;
    background-color:#457975;
}
.time-table-container{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin-top: 5rem;
    margin-left: -4rem;
    margin-right: 4rem;
}
.time-table{
    display: flex;
    width: 20vw;
    padding: 1rem;
    flex-wrap: wrap;
}

.time-table-text{
    display: flex;
    padding: 1rem 3.5rem 1rem 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    background-color: #415050;
}
.page-container{
    display: flex;
}
#time-table{
    background-color: var(--page-container);
}