.page-container {
    display: flex;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#leaseFiets {
    width: 40vw;
}

.homepage-container h1 {
    font-size: 3rem;
}

.home-info-assortiment {
    display: flex;
    text-align: left;
    padding: 2rem;
    background-color: #3e6559;
}

.home-info-werkplaats {
    display: flex;
    text-align: left;
    padding: 2rem;
    background-color: #457975;
}

.time-table-container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin-top: 5rem;
    margin-left: -4rem;
    margin-right: 4rem;
}

.home-icon {
    width: 10rem;
    margin: 2rem;
}

.time-table {
    display: flex;
    width: 26vw;
    padding: 2rem;
    flex-wrap: wrap;
}

.day {
    display: flex;
    flex-wrap: wrap;

}

.time-table-text {
    display: flex;
    padding: 1rem 5rem 1rem 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    background-color: #415050;
    width: 11vw;
}

#time-table {
    background-color: var(--page-container);
}


@media (max-width: 700px) {
    .homepage-container h1 {
        font-size: 1rem;
    }

    #leaseFiets {
        width: 50vw;
    }

    .home-info-werkplaats {
        flex-direction: column;
        align-items: center;
    }

    .home-info-assortiment {
        flex-direction: column;
        align-items: center;
    }
    .home-icon{
        width: 5rem;
        margin: 1rem;
    }

    .time-table-container {
        display: none;
    }
}