.page-container {
    display: flex;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#leaseFiets {
    width: 40vw;
}

.homepage-container h1 {
    font-size: 3rem;
    padding: 2rem;
}

.home-info-assortiment {
    display: flex;
    text-align: left;
    padding: 2rem;
    background-color: #3e6559;
    align-items: center;
}

.home-info-werkplaats {
    display: flex;
    text-align: left;
    padding: 2rem;
    background-color: #457975;
    align-items: center;
}
.home-icon {
    width: 10rem;
    margin: 2rem;
}
.home-info{
    font-size: 25px;
}

.side-menu-container {
    position: sticky;
    top: 0;
    height: 80vh;
    margin-top: 5rem;
    margin-left: -4rem;
    margin-right: 4rem;
}
.side-menu-container h2{
    padding: 2rem;
}


.side-menu {
    width: 20vw;
    padding: 2rem;
    flex-wrap: wrap;
}

.section {
    display: flex;
    flex-wrap: wrap;
}

.side-menu-text {
    display: flex;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    background-color: #415050;
    width: 8vw;
}
.r{
    justify-content: flex-end;
}
#side-menu-container {
    background-color: var(--page-container);
}


@media (max-width: 700px) {
    .page-container{
        flex-direction: column;
    }
    .homepage-container h1 {
        font-size: 1rem;
    }

    #leaseFiets {
        width: 50vw;
    }

    .home-info-werkplaats {
        flex-direction: column;
        align-items: center;
    }

    .home-info-assortiment {
        flex-direction: column;
        align-items: center;
    }
    .home-icon{
        width: 5rem;
        margin: 1rem;
    }

    .side-menu-container {
        left: 10vw;
        width: 80vw;
        margin: -1rem;
    }
    .side-menu{
        width: 80vw;
        display: flex;
        padding: 0 2rem;
    }
    .side-menu-text{
        width: 27vw;
        font-size: 15px;
        margin-bottom: 0.1rem;
        padding: 1rem;
    }
    .section{
        margin: 0.5rem;
    }
}