.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--nav-bg);
    position: relative;
}

.nav-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3rem;

}
.nav-bar-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.active-link,
.default-link:hover{
    color: var(--text-color);
    text-transform: uppercase;
    background-color: var(--btn-background);
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    font-size:1rem;
}

.default-link {
    color: var(--text-color);
    text-transform: uppercase;
    padding: 1rem;
    text-decoration: none;
}
.subMenu-aboutUs-clicked{
    display: none;
}
.subMenu-aboutUs{
    position: absolute;
    top:48px;
    background:var(--nav-bg);
    z-index: 1;
}
.subMenu-aboutUs > li{
    padding: 1rem 0;
}

/*Container for menu button  */
.nav-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Making the navbar responsive by CSS Media Queries */
@media (max-width: 700px) {
    .nav{
        justify-content: left;
        position: relative;
    }
    .nav-button-container {
        position: absolute;
        display: flex;
        padding: 0 30px;
    }
    .nav-bar-menu{
        display: none;
    }
    .nav-button-img{
        width: 25px;
    }
    .nav-bar{
        justify-content: flex-start;
        z-index: 1;
    }
    .dropdown-menu{
        position: absolute;
        top: 45px;
        left: 0;
        background:var(--nav-bg);
    }
    .dropdown-menu > li{
        height: 2.5rem;
        padding: 1.5rem;
    }
    .subMenu-aboutUs{
        position: absolute;
        width: 50vw;
        top: 200px;
        left: 185px;
        background:var(--nav-bg);
        z-index: 1;
    }
}
