@import url('https://fonts.googleapis.com/css2?&family=Roboto:wght@300;400;500;700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #1c1c1c;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.outer-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-shrink: 1;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
}


/* --------------- 4.x Footer ------------------------- */

footer{
  text-align: center;
}